body{
  margin: 0;
  font-family: arial, sans-serif;
  background: white;
  background: -webkit-linear-gradient(#ffffff, #e5e5e5);
  background: linear-gradient(#ffffff, #e5e5e5);
}

#header {
  width: 100%;
  height: 45px;
  background: #ddd;
  background: -webkit-linear-gradient(#f0f0f0, #dddddd);
  background: linear-gradient(#f0f0f0, #dddddd);
  box-shadow: 0px -5px 15px 5px rgba(0, 0, 0, 0.64);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50000;
}

#header-contianer {
 max-width: 1200px;
  margin: auto;
}

#title {
  margin-left: 15px;
  line-height: 1.5;
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-family: monospace;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

#title:hover{
  text-shadow: 5px 5px 5px rgba(20, 20, 20, 0.25);
}

#nav-desktop {
  float: right;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;

}

.navItem-desktop {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  line-height: 2.9;
  color: black;
  text-decoration: none;
  -webkit-transition: all 75ms ease-in-out;
  transition: all 75ms ease-in-out;

}

.navItem-desktop:hover{
  background: #cbcbcb;
  /*text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.45);*/
}

#nav-mobile{
  display: none;
}

#nav-mobile.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navItem-mobile {
  padding: 15px;
  text-align: center;
  background: #ddd;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #cecece;
}

.navItem-mobile.active{
  background: #f0f0f0;
  margin-top: -1px;
}

#nav-mobile-button {
  display: none;
  font-size: 18px;
  float: right;
  height: 45px;
  line-height: 2.5;
  padding-right: 15px;
  padding-left: 25px;
  cursor: pointer;
  color: black;
  text-decoration: none;

  -webkit-user-select: none;

     -moz-user-select: none;

      -ms-user-select: none;

          user-select: none;
}

#nav-mobile-button:after {
  content: "";
  display: inline-block;
  height: 0px;
  width: 0px;
  border-right: 7px solid black;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin-left: -100px;
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

#nav-mobile-button.active:after{
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

#nav-mobile-button.active{
  background: #d4d4d4;
}

#main{
  margin: auto;
  margin-top: 75px;
  margin-bottom: 50px;
  max-width: 980px;

}

#footer{
  max-width: 980px;
  margin: auto;
  text-align: center;
}

.footer-link{
  color: #1a66f7;
  text-decoration: none;
}

.footer-link:hover{
  text-decoration: underline;
  color: #1442d9;
}

.post-display{
  margin: 5px;
  margin-bottom: 20px;
  max-width: 650px;
}

.post-display-title{
  color: black;
  text-decoration: none;
  margin-bottom: 4px;
}

.post-display-title:hover{
  text-decoration: underline;
}

.post-display-title-link{
  color: black;
  text-decoration: none;
}

.post-display-data{
  font-size: 12px;
  font-style: italic;
}

.post-display-excerpt{
  padding: 10px;
}

.post-display-bottom-link{
  display: block;
  padding: 5px;
  color: #1a66f7;
  text-decoration: none;
}

.post-display-bottom-link:hover{
  text-decoration: underline;
  color: #1442d9;
}

.line{
  width: 100%;
  border-bottom: 1px solid rgba(50, 50, 50, 0.25);
  margin: 5px;
  display: block;
}

#contact-display-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 600px;
  margin: auto;
}

.id-card{
  background: #e8e8e8;
  width: 100%;
  max-width: 250px;
  margin: 10px auto;
  text-align: center;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  border: 3px solid #dedede;
}

.id-card-title{
  padding: 15px;
}

.id-card-link{
  color: #1a66f7;
  text-decoration: none;
}

.id-card-link:hover{
  text-decoration: underline;
  color: #1442d9;
}

@media only screen and (max-width:800px) {

	#nav-desktop {
		display: none;
	}

    #title{
      font-size: 20px;
      line-height: 2.3;
    }

	#nav-mobile-button {
		display: block;
	}

}

@media only screen and (max-width:1020px){
  #main{
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (min-width:801px){
  #nav-mobile.active{
    display: none;
  }
}

.post-title{
  margin-bottom: 5px;
}

.post-data{
  font-size: 12;
  font-style: italic;
}

.post-image{
  margin: auto;
  max-width: 100%;

}

.post-paragraph{
  line-height: 1.75;
  text-indent: 24px;
  font-family: Taviraj, Slabo, serif;
}

.quote-block{
  border-radius: 3px;
  padding: 15px;
  border: 3px solid #dedede;
  background: #eaeaea;
  font-size: 13px;
  font-style: italic;
  text-align: center;
}

.post-link{
  color: #1a66f7;
  text-decoration: none;
}

.post-link:hover{
  text-decoration: underline;
  color: #1442d9;
}

.rss-button{
  margin-top: 8px;
}

/* Syntax Highlighting begin*/

.snippet{
  padding: 0px 6px;
  border-radius: 5px;
  background: #dadada;
  border: 1px solid #bbbbbb;
  font-style: italic;
}

.highlight{
  border-radius: 2px;
  padding: 5px;
  border: 3px solid #dedede;
  background: grey;
  overflow: scroll;
  max-width: 100%;
  font-family: monospace;
}

.lineno{
  margin-right: 5px;

}

/*From the Jekyll site*/
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/*Syntax hightlighting end */
