*{
  box-sizing: border-box;
}

html{
  min-width: 100%;
  min-height: 100%;
  margin: 0px;;
  font-family: droid-sans, sans-serif;
  background: white;
}

body{
  width: 750px;
  margin: 0  auto;
  background: white;
}

a{
  color: #2478ea;
  text-decoration: none;
}

a:visited{
  color: #482a89;
}

header#header{
  background: white;
/*  padding-top: 5px;*/
  margin: 0;
}

h1#headerText{
  text-align: center;
  font-weight: 100;
  font-family: inconsolata, ,sans-serif;
}

nav#nav{
  height: 50px;
  
}

ul#navList{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  border-bottom: 1px solid rgb(211, 211, 211);
  background: white;
  padding: 0;
  margin: 0px;
}

li.navItem{
  padding: 15px 55px;
  margin: 0px 0px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #555;
  text-decoration: none;
}

li.navItem.active{
  border-bottom: 1px solid rgb(211, 211, 211);
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.15);
  color: black;
}

li.navItem:not(.active):hover{
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
  color: black;
}

div#scrollToTop{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  border-radius: 50%;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  background: #f2f2f2;
  transition: opacity 0.45s, transform 0.45s, box-shadow 0.75s;
  opacity: 0;
  transform: scale(0.25);
  pointer-events: none;
}

div#scrollToTop.active{
  transform: scale(1);
  display: block;
  opacity: 1;
  pointer-events: all;
}

div#scrollToTop:hover{
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.05) translateY(-5px);
}

div#scrollToTop:active{
  transform: scale(1.15) translateY(-5px);
}

div#main{
  margin: 25px auto;
  width: 100%;
  width: calc(100% - 50px);
}

footer#footer{
  margin: 50px 0;
  border-top: 1px solid rgb(211, 211, 211);
  text-align: center;
  font-size: 14px;
  font-style: italic;
}